.canvas-container {
    height: 500px;


}

canvas {
    margin: 0;
    margin-bottom: 100px;
    border: 1px solid #eeeeee;

}

 .show-tran-paragraph {
    /* font-size: large; */
    /* font-weight: bold; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: 5px;
}

