.canvas-container {
    height: 500px;


}

canvas {
    margin: 0;

}

 p {
    font-size: large;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: 5px;
}
