.canvas-container {
    height: 400px;
    padding: 0;
    padding-top: 5%;

    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    border: 1px solid black;

}

canvas {
    margin: 0;

}